@use "../utils/functions" as *;
@use "../globals/colors" as *;

.page-index {
  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .nav-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: rem(30) 0;

      .logo {
        width: rem(78);
      }

      .links {
        display: flex;
        align-items: center;

        & > :not(:last-child) {
          margin-right: rem(50);
        }
      }

      .buttons {
        display: flex;
        align-items: center;

        & > button,
        a {
          max-width: rem(222);
          min-width: rem(222);
        }

        & > :not(:last-child) {
          margin-right: rem(43);
        }
      }
    }
  }

  .hero-section {
    min-height: 100vh;
    display: flex;
    align-items: center;

    .left,
    .right {
      flex: 1;
    }

    .left {
      max-width: rem(604);

      & > .upper {
        margin-bottom: rem(142);
      }

      .social-links {
        display: flex;
        align-items: center;

        & > a {
          opacity: 0.3;
          transition: all 0.2s ease;
        }
        & > a:hover {
          opacity: 1;
        }

        & > :not(:last-child) {
          margin-right: rem(28);
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      img {
        width: 70%;
      }
    }
  }

  .community {
    .cards {
      display: flex;
      justify-content: space-between;
      padding: rem(96) rem(112);
      position: relative;
      border-radius: rem(60);
      background: linear-gradient(90deg, #4161fc, #46c5e3, #4161fc);
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        top: rem(3);
        left: rem(3);
        right: rem(3);
        bottom: rem(3);
        background-color: $bg-main;
        border-radius: rem(60);
        z-index: -1;
      }

      & > :not(:last-child) {
        margin-right: rem(48);
        padding-right: rem(48);
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 100%;
          width: rem(2);
          height: rem(130);
          background: linear-gradient(180deg, #4161fc 0%, #46c5e3 100%);
          border-radius: rem(10);
          transform: translateY(-50%);
        }
      }
    }

    .community-btns {
      display: flex;
      align-items: center;
      justify-content: center;

      & > button,
      a {
        max-width: rem(326);
        padding-top: rem(22);
        padding-bottom: rem(22);
      }

      & > :not(:last-child) {
        margin-right: rem(60);
      }
    }
  }

  .tokenomics {
    main {
      .cards {
        display: flex;
        justify-content: center;

        & > :not(:last-child) {
          margin-right: rem(80);
        }
      }

      .tokenomics-chart {
        margin: 0 auto;
        display: block;
        width: 100%;
        max-width: rem(1100);
      }
    }
  }
}
