@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "Nevan-RUS";
  src: url(../../assets/fonts/Nevan-RUS.ttf);
}

$font-main: "Montserrat", sans-serif;
$font-secondary: "Nevan-RUS";
$font-poppins: "Poppins", sans-serif; ;
